.description {
  position: absolute;
  bottom: 0;
  padding: 27px 0;
  width: calc(100% - 20px);
  background-color: $doing-shade-color;
}

.description__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $prime-color;
}
