@mixin position-flex(
  $display: flex,
  $align-items: center,
  $justify-content: start
) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin bordered($color, $width: 1px) {
  border: $width solid $color;
}
